body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.status-container {
    flex: 1;
}

.status-container h2 {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0;
    font-size: 100px;
    color: #fff;
}

.processing-orders h2 {
    background: orange;
}

.ready-orders h2 {
    background: green;
}

.orders-container {
    padding: 0 20px;
}

.orders-container .order p {
    font-size: 80px;
}

.panel-container {
    margin: 20px auto;
    width: 980px;
}

.panel-container h2 {
    margin: 0;
}

.panel-table {
    border: 1px #ccc solid;
    width: 100%;
    margin-top: 15px;
}

.panel-table td, th {
    border-collapse: collapse;
    border: 1px #ccc solid;
    padding: 8px;
}

.panel-table td.center {
    text-align: center;
}

.panel-table .order-number input {
    width: calc(100% - 87px);
}

#setTestOrders {
    float: right;
    margin: 20px 0;
}